@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section styles {
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
}
@model WebAppAssignmentDATABASE_5.Models.ViewModels.LanguagesViewModel;
@{
    ViewBag.Title = "Languages";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebAppAssignmentDATABASE_5.Models.ViewModels.LanguageViewModel language in @Model.Languages)
        {
            <partial name="Language" model="@language" />
        }
    </tbody>
</table>

<form class="create-form" asp-controller="Languages" asp-action="CreateLanguage" method="post">
    <div class="form-group">
        <label class="form-text" for="LanguageName">Name:</label>
        <input class="form-control" type="text" name="LanguageName" value="" />
    </div>

    <button class="btn btn-primary" type="submit" name="submit" value="Create" >Create</button>

</form>

